.menu-container {
  background-color: transparent !important;
  .menu-button {
    background-color: transparent;
    padding: 0;
    // .profile-logo {
    //   background-color: white;
    // }

    span {
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: transparent;
      font-weight: bold;
    }
  }
}
