.menu-container {
  background-color: white !important;
  .menu-button {
    background-color: white;
    // .profile-logo {
    //   background-color: white;
    // }
    &:hover {
      background-color: white;
      font-weight: bold;
    }
  }
}
