@import "../../theme.scss";

.navbar-container {
  // position: fixed;
  width: 100%;
  .navbar-wrapper {
    // position: relative;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;

    .menu-logo-wrapper {
      width: 15%;
      .menu-icon {
        display: none;
      }

      // .offer-auth-wrapper {
      //   display: none;
      // }
    }

    .menu-link-wrapper {
      width: 70%;
      justify-content: center;
    }

    .menu-cart-wrapper {
      width: 12%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .cart-logo {
        cursor: pointer;
      }
    }
  }
  // .search-modal {
  //   position: relative;
  // }
}

.brandLogo {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: $device-small) {
  .navbar-container {
    .navbar-wrapper {
      padding: 12px 20px;
      .menu-logo-wrapper {
        display: flex;
        width: 60%;
        gap: 8px;
        align-items: center;
        .menu-icon {
          display: block;
          font-size: 20px;
        }
      }
      .menu-link-wrapper {
        display: none;
        .menu-link {
          display: none;
        }
      }

      .menu-cart-wrapper {
        width: 30%;
      }
    }
  }
}
