@import "./theme.scss";

.navbar-container {
  // position: fixed;
  width: 100%;
  .navbar-wrapper {
    // position: relative;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;

    .menu-logo-wrapper {
      width: 25%;
      .menu-icon {
        display: none;
      }

      .logo .scrolled {
        color: white;
      }

      // .offer-auth-wrapper {
      //   display: none;
      // }
    }

    .menu-link-wrapper {
      width: 50%;
      justify-content: center;

      .menu-link {
        display: block;
      }

      .menu-link.scrolled {
        color: #c6c6c6;
      }
    }

    .menu-cart-wrapper {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .cart-logo {
        cursor: pointer;
      }
    }
  }

  .navbar-wrapper.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
  }

  // .search-modal {
  //   position: relative;
  // }
}

.brandLogo {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: $device-small) {
  .navbar-container {
    .navbar-wrapper {
      padding: 12px 20px;
      .menu-logo-wrapper {
        display: flex;
        width: 50%;
        gap: 8px;
        align-items: center;
        .menu-icon {
          display: block;
          font-size: 20px;
        }
      }
      .menu-link-wrapper {
        display: none;
        .menu-link {
          display: none;
        }
      }

      .menu-cart-wrapper {
        width: 50%;
      }
    }
  }
}
