@import "../../theme.scss";

.navbar-container {
  position: fixed;
  width: 100%;
  .navbar-wrapper {
    position: relative;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;

    .menu-logo-wrapper {
      width: 15%;
      .menu-icon {
        display: none;
      }

      .offer-auth-wrapper {
        display: none;
      }

      .sidebar-menu-link {
        display: none;
      }
    }

    .menu-link-wrapper {
      width: 70%;
      justify-content: center;
    }

    .menu-cart-wrapper {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cart-logo {
        cursor: pointer;
      }
    }
  }
  .search-modal {
    position: relative;
  }
}

.brandLogo {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: $device-small) {
  .navbar-container {
    .navbar-wrapper {
      .menu-logo-wrapper {
        display: flex;
        width: 60%;
        gap: 8px;
        align-items: center;
        .menu-icon {
          display: block;
          font-size: 20px;
        }
        .offer-auth-wrapper {
          position: relative;
          display: block;
          .auth-navigate-wrapper {
            position: absolute;
            display: flex;
            gap: 4px;
            bottom: 2px;
            right: 0;
            left: 132px;
            div {
              font-weight: 500;
              font-size: 10px;
            }
          }
        }

        .sidebar-menu-link {
          display: block;
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          padding: 8px 16px;
        }
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
          z-index: 998; /* Ensure it's above other content */
        }

        .drawer {
          position: fixed;
          top: 0;
          left: -240px; /* Initially hide drawer off-screen */
          width: 240px;
          height: 100%;
          background-color: white;
          transition: left 0.3s ease;
          z-index: 999;
        }

        .drawer.open {
          left: 0; /* Show drawer */
        }
      }
      .menu-link-wrapper {
        display: none;
        .menu-link {
          display: none;
        }
      }

      .menu-cart-wrapper {
        width: 30%;
      }
    }
  }
}
